.loader-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin: var(--lg) 0;
}

.loader {
  display: block;
  position: relative;
  left: -25%;
  width: 140px;
  height: 140px;
  margin: -var(--xxxl) 0 0 -var(--xxxl);
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1677FF;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00FFFF;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #AE20FD;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}