.main-page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--md) auto;
  font-size: var(--md);
  font-family: 'nunito-regular', sans-serif;
  max-width: 50%;
  height: 100px;
}

.main-page-wrapper__currency-string {
  margin-right: var(--lg);
}

.main-page-wrapper__currency {
  line-height: var(--lg);
}

.main-page-wrapper__base-select {
  display: flex;
  align-items: center;
}

.main-page-wrapper__update-button {
  font-family: 'nunito-regular', sans-serif;
  margin-left: var(--lg);
}

@media (max-width: 1024px) {
  .main-page-wrapper {
    max-width: 80%;
  }

  .main-page-wrapper__currency-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .main-page-wrapper__currency-string {
    margin-right: 0;
    margin-bottom: var(--sm);
  }

  .main-page-wrapper__base-select {
    flex-direction: column;
    align-items: flex-end;
  }

  .main-page-wrapper .ant-select {
    width: 100%;
    margin-bottom: var(--sm);
  }

  .main-page-wrapper__update-button {
    width: 99%;
  }
}

@media (max-width: 768px) {
  .main-page-wrapper {
    max-width: 100%;
    margin: var(--md);
  }
}