@font-face {
  font-family: "nunito-regular";
  font-weight: 400;
  src: url("./fonts/nunito-regular.ttf") format("truetype");
}

@font-face {
  font-family: "nunito-extra-bold";
  font-weight: 800;
  src: url("./fonts/nunito-extra-bold.ttf") format("truetype");
}

:root {
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 80px;
  --xxxxl: 120px;
}

.bold {
  font-family: 'nunito-extra-bold', sans-serif;
}
