@font-face {
  font-family: "nunito-regular";
  font-weight: 400;
  src: url("./fonts/nunito-regular.ttf") format("truetype");
}

@font-face {
  font-family: "nunito-extra-bold";
  font-weight: 800;
  src: url("./fonts/nunito-extra-bold.ttf") format("truetype");
}

:root {
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 80px;
  --xxxxl: 120px;
}

.bold {
  font-family: 'nunito-extra-bold', sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  font-family: 'nunito-regular', sans-serif;
  font-size: var(--lg);
}

.menu-item:first-child {
  margin-right: var(--lg);
}

.menu-item.ant-menu-item {
  border-radius: 0;
}

.ant-menu-item.ant-menu-overflow-item {
  background: transparent;
}

.ant-menu-item:hover {
  background: #e6f4ff
}

@media (max-width: 1024px) {
  .menu {
    justify-content: space-between;
  }

  .menu-item:first-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .menu {
    font-size: var(--md);
  }
}